.links{

    float: right;
}
header{
    font-size: 25px;
    box-shadow: 0 2px 4px -2px black;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: White;
}
body{
    background-color: beige;
}